RewriteEngine On

RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^api/girokonto index.php?page=giroMoneyLandingPage [QSA,L]
RewriteRule ^kreditkarte index.php?page=creditCardLandingPage [QSA,L]